*.db

prod.ini

# web assets generated directory
gen/
.webassets-cache/

*.py[co]

# Distribution / packaging
*.egg
*.egg-info
dist
build
_build
eggs
.eggs/
parts
bin
develop-eggs
.installed.cfg
poetry.lock

# Sphinx documentation
docs/_build/
docs/source/

# Installer logs
pip-log.txt
logs
*.log
*.pid

# Unit test / coverage reports
.coverage
.tox
.cache/
htmlcov/
.mypy_cache/
.pytest_cache/

# Vim
*.swp
.rope*

# Tags for git-helpers
tags

# Editor projects
.idea/
